body {
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
    margin: 0;
    padding: 0
}
.imagen{
    width: 1500px;
    height: 700px;
}
.logo{
    margin-top: 10px;
}
@font-face {
    font-family: 'Pixels';
    src: '/assets/fonts/PixelifySans-Bold.ttf';
}


.contenedor{
    background-color: grey;
    max-width: 120em;
    width: 90%;
    height: 100%;
    padding: 1em;
}
.contenedor .ul{
    width: 100%;
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
    .contenedor .li {
        background-color: indigo;
        padding: 1em;
        margin: 0 1em 0 0;
        color: white;
        transition: all .5s ease;
    }
.contenedor .li.activo{
    background-color: darkslategray;
    color: azure;
}
    .contenedor .subcontenedor {
        min-height: 10vh;
        height: 90%;
        position: relative;
        background: #000000; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #434343, #000000);
    }
    .contenedor .bloque {
        background-color:white;
        margin: 1em;
        padding: 1em;
        position: absolute;
        width: 100%;
        height: 95%;
        top: 1em;
        opacity: 0;
        transition: all .5s ease;
    }
.contenedor .bloque.activo{
    opacity: 1;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
    text-size-adjust: 15%;
}

canvas{
    margin: auto;
    width:auto;
    height: auto;
}

h2 {
    color: green;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

button {
    color: blue;
    font-size: 15px;
    width: 10%;
    height: 4%;
    text-align: center;
    margin-left: 45%;
}

.clase {
    width: 30%;
    height: 15%;
    margin-left: 35%;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    color: black;
    font-size: 40px;
    text-align: center;
}

.titulo {
    color: darkkhaki;
    font-size: 120px;
    text-align: center;
    margin-bottom: 60px;
    margin-top:50px;
}

.titulo1 {
    color: dimgray;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

header {
    width: 100%;
    height: 30px;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

img {
    width: 50px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
