header{
    align-items:center;
}

body {
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
    margin: 0;
    padding: 0
}
.imagen{
    width: 750px;
    height: 350px;
}
.logo{
    margin-top: 10px;
}
/*
@font-face {
    font-family: 'ka1';
    src: url('/assets/fonts/ka1.ttf');
    font-weight: 400;
    font-weight: normal;
}*/

/*@font-face {
    font-family: 'Pixels';
    src: url('/assets/fonts/PixelifySans-Bold.ttf');
    font-weight: 400;
    font-weight: normal;
}*/


.contenedor {
    background-color: grey;
    max-width: 120em;
    width: 70%;
    height: 100%;
    padding: 1em;
    text-align: center;
    margin-left:190px;
}
.contenedor .ul{
    width: 80%;
    background-color: black;
    display: flex;
    align-items: center;
    margin-left:100px;
}
.contenedor .li {
    background-color: indigo;
    padding: 1em;
    color: white;
    transition: all .5s ease;
    font-size:15px;
    margin-left:50px;
}



.contenedor .li.activo{
    background-color: darkslategray;
    color: azure;
}
.contenedor .subcontenedor {
    min-height: 10vh;
    height: 80%;
    position: relative;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);

}
.contenedor .bloque {
    background-color: white;
    padding: 1em;
    position: absolute;
    width: 95%;
    height: 80%;
    top: 1em;
    opacity: 0;
    display: none;
    visibility: hidden;
    transition: all .5s ease;
    text-align:center;
    margin-left:10px;
}

.contenedor .bloque.activo {
    opacity: 1;
    display: block;
    visibility: visible;
    text-align:center;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
    text-size-adjust: 15%;
}

canvas{
    margin: auto;
    width:auto;
    height: auto;
}

h2 {
    color: green;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

button {
    color: blue;
    font-size: 15px;
    width: 10%;
    height: 4%;
    text-align: center;
    margin-left: 45%;
}

.clase {
    width: 30%;
    height: 15%;
    margin-left: 35%;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    color: black;
    font-size: 40px;
    text-align: center;
}

.titulo {
    color: darkkhaki;
    font-size: 120px;
    text-align: center;
    margin-bottom: 60px;
    margin-top:50px;
}

.titulo1 {
    color: dimgray;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

header {
    width: 100%;
    height: 30px;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

img {
    width: 50px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.textoRojo{
    color: red;
    font-size: 25px;
}

.textoAzul {
    color: blue;
    font-size: 25px;
}